.card-container {
  display: grid;
  gap: 2rem;
}

.gallery {
  display: grid;
  grid-template-areas:
    "header"  
    "image"
    "description"
    "address"
    "learn-more";
  
  background-color: #f9fafb;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.05);
  text-align: center;
  transition: transform 0.3s ease;
}

.sidebar {
  background-color: #003366;
  color: #FFD700;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 20px;
}

.gallery h2 {
  grid-area: header;
  font-size: 1.5rem;
  color: #003366;
}

.gallery img {
  grid-area: image;
  max-width: 300px;
  height: 200px;
  object-fit: cover;
  border: 2px solid #ddd;
  border-radius: 8px;
  transition: transform 0.4s ease;
}



.gallery p {
  grid-area: description;
  font-size: 1rem;
  color: #333;
}

.gallery address {
  grid-area: address;
  font-style: normal;
  color: #666;
}

.gallery:hover {
  transform: translateY(-5px);
}

.learn-more {
  grid-area: learn-more;
  
  background-color: #FFD700;
  color: #222;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
  margin: 1rem;
}

.learn-more:hover {
  background-color: #007a33;
  color: white;
}
